# Ignore data folder
data/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pkl
*.joblib
models/

# VS Code settings
.vscode/
